Repository OptimusPi/BalatroSeedOracle: changes, and which lefthook commands are due for each by the changed paths.
All: csharpier, dprint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    csharpier:
      glob: "**/*.cs"
      run: dotnet csharpier format {staged_files} --config-path .config/csharpierrc
      stage_fixed: true

    dprint:
      glob: "*.{md,mdx,yml,yaml,json,jsonc}"
      run: dprint fmt --config .config/dprint.json --allow-no-files {staged_files}
      stage_fixed: true

    changelog-reminder:
      run: |
        # Check if user-facing files are staged but CHANGELOG.md is not
        STAGED_FILES=$(git diff --cached --name-only)
        
        # Paths that typically need changelog entries
        if echo "$STAGED_FILES" | grep -qE '^(src/|docs/|Presets/|VisualizerPresets/|MixerPresets/)'; then
          # Check if CHANGELOG.md is staged
          if ! echo "$STAGED_FILES" | grep -q '^CHANGELOG.md$'; then
            echo "⚠️  WARNING: You're committing user-facing changes without updating CHANGELOG.md"
            echo "   Consider adding an entry under '## [Unreleased]' in CHANGELOG.md"
            echo "   See .cursor/rules/005-changelog-policy.mdc for guidelines"
            echo ""
            echo "   This is just a reminder - commit will proceed."
          fi
        fi

Operator box cards at full size
  src/BalatroSeedOracle/Components/FilterOperatorControl.axaml
Due: none

Fanned operator cards centred in a host sized for them
  src/BalatroSeedOracle/Components/FilterOperatorControl.axaml
  src/BalatroSeedOracle/Components/FilterOperatorControl.axaml.cs
Due: csharpier

Fan host sized for the rotated cards
  src/BalatroSeedOracle/Components/FilterOperatorControl.axaml
Due: none

The ✕ on a Must/Should card can be clicked, and shows on hover (#13, #14)
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
Due: none

Favorites tab lists favorited bosses and wildcards (#16)
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
Due: csharpier

An operator box in Must/Should can be dragged out or removed (#13)
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
Due: csharpier

Add Clear buttons per box and wire Start Over (#14)
  HANDOFF.md
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
Due: csharpier, dprint

Drag out of a zone: refuse Banned Items → Should before removing it; remove through RemoveItem
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
Due: csharpier

A card moved between zones keeps its settings
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
Due: csharpier

A card's own stickers go through the same rules as the shelf toggles
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
Due: csharpier
