Repository OptimusPi/BalatroSeedOracle: changes, and which lefthook commands are due for each by the changed paths.
All: csharpier, dprint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    csharpier:
      glob: "**/*.cs"
      run: dotnet csharpier format {staged_files} --config-path .config/csharpierrc
      stage_fixed: true

    dprint:
      glob: "*.{md,mdx,yml,yaml,json,jsonc}"
      run: dprint fmt --config .config/dprint.json --allow-no-files {staged_files}
      stage_fixed: true

    changelog-reminder:
      run: |
        # Check if user-facing files are staged but CHANGELOG.md is not
        STAGED_FILES=$(git diff --cached --name-only)
        
        # Paths that typically need changelog entries
        if echo "$STAGED_FILES" | grep -qE '^(src/|docs/|Presets/|VisualizerPresets/|MixerPresets/)'; then
          # Check if CHANGELOG.md is staged
          if ! echo "$STAGED_FILES" | grep -q '^CHANGELOG.md$'; then
            echo "⚠️  WARNING: You're committing user-facing changes without updating CHANGELOG.md"
            echo "   Consider adding an entry under '## [Unreleased]' in CHANGELOG.md"
            echo "   See .cursor/rules/005-changelog-policy.mdc for guidelines"
            echo ""
            echo "   This is just a reminder - commit will proceed."
          fi
        fi

Enforce Claude CODE MULE hooks; pin Motely with cage hooks
  .claude/hooks/block-git-nuke.ps1
  .claude/hooks/prompt-remind.ps1
  .claude/hooks/session-start.ps1
  .claude/settings.json
Due: dprint

revert: strip Claude cage hooks that bricked sessions
  .claude/hooks/block-git-nuke.ps1
  .claude/hooks/prompt-remind.ps1
  .claude/hooks/session-start.ps1
  .claude/settings.json
Due: dprint

Chimney Christmas
  .claude/settings.powershelloption.txt
  CLAUDE-CAGE.md
  CLAUDE.md
  src/BalatroSeedOracle/Helpers/DebugLogger.cs
  src/BalatroSeedOracle/Json/BsoJsonSerializerContext.cs
  src/BalatroSeedOracle/Services/FilterFiles.cs
  src/BalatroSeedOracle/Services/UserProfileService.cs
Due: csharpier, dprint

Fix tab content binding for AOT: [ObservableProperty] instead of computed getter
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/Views/Modals/FiltersModal.axaml
  src/BalatroSeedOracle/Views/Modals/SearchModal.axaml
Due: csharpier

Remove Continue checkbox, fix bottom bar overflow in SearchTab
  src/BalatroSeedOracle/Views/SearchModalTabs/SearchTab.axaml
Due: none

Bump MotelyJAML submodule; JAML is not YAML in the README
  README.md
Due: dprint

Ypdate submoduke
  .gitignore
Due: none

Restore MotelyJAML submodule removed in 984cdf31
  .gitmodules
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: dprint

nice
  CLAUDE.md
  Directory.Build.props
  README.md
  scripts/prove-submodule.ps1
  scripts/prove-submodule.sh
Due: dprint

Search DB-backed results + filter UI fixes (#12 #13 #14 #15 #16)
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/Converters/ClauseTrayConverters.cs
  src/BalatroSeedOracle/Helpers/ModalHelper.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectionModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml.cs
Due: csharpier

font fix cleanup
  .avalonia/projects.json
  .claude/settings.json
  .claude/settings.powershelloption.txt
  CLAUDE-CAGE.md
  profile.json
  src/BalatroSeedOracle/App.axaml
  src/BalatroSeedOracle/Constants/UIConstants.cs
  src/BalatroSeedOracle/Controls/BalatroShaderBackground.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/MainWindow.axaml
  src/BalatroSeedOracle/Views/MainWindow.axaml.cs
  src/BalatroSeedOracle/m6x11plusplus.otf
  src/BalatroSeedOracle/m6x11plusplus.ttf
  src/m6x11plusplus.otf
Due: csharpier, dprint

Filter UI: right-click delete/rename, Exit button, favorites add/remove (#14 #16)
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
  src/BalatroSeedOracle/Models/SelectableItem.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectionModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml
Due: csharpier

#16: persist favorites to favorites.json across restarts
  src/BalatroSeedOracle/Services/FavoritesService.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
Due: csharpier

#13: operator tray card fixes (remove button, sizing, overlays)
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
Due: csharpier

#12: card hover tooltip on picker (name/type/edition/stickers + optional effect text)
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
  src/BalatroSeedOracle/Models/BalatroData.cs
  src/BalatroSeedOracle/Models/SelectableItem.cs
Due: csharpier

Add HANDOFF.md: session commit list, per-issue status, open work
  HANDOFF.md
Due: dprint

Add Balatro Data for hover infos
  CLAUDE.md
  README.md
  src/BalatroSeedOracle/Models/BalatroData.cs
Due: csharpier, dprint

bot slops
  Directory.Build.props
  HANDOFF.md
  profile.json
  src/BalatroSeedOracle/ViewModels/FilterSelectionModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/Views/Modals/AudioVisualizerSettingsModal.axaml
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml
  src/BalatroSeedOracle/Views/Modals/StandardModal.axaml.cs
Due: csharpier, dprint

LOL
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
Due: csharpier

Bump MotelyJAML to 26.1.0 (185c1201); app owns the seed lake sink
  BalatroSeedOracle.slnx
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/Services/SeedLakeSink.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
Due: csharpier

#12: look up card descriptions by normalized item name
  src/BalatroSeedOracle/Models/BalatroData.cs
  src/BalatroSeedOracle/Models/ItemNameComparer.cs
Due: csharpier

#12: corpus effect text for all 234 jokers/tarots/spectrals/planets/vouchers
  scripts/gen-descriptions.mjs
  src/BalatroSeedOracle/Models/BalatroData.Descriptions.g.cs
  src/BalatroSeedOracle/Models/BalatroData.cs
Due: csharpier

#12: test that every picker item has real hover text
  src/BalatroSeedOracle.Tests/BalatroDataDescriptionTests.cs
Due: csharpier

HANDOFF: #12 done, engine master break recorded
  HANDOFF.md
Due: dprint

#12 follow-up: CRLF-stable generator, voucher tail, run-state counters, HANDOFF census
  HANDOFF.md
  scripts/gen-descriptions.mjs
  src/BalatroSeedOracle.Tests/BalatroDataDescriptionTests.cs
  src/BalatroSeedOracle/Models/BalatroData.Descriptions.g.cs
Due: csharpier, dprint

gen-descriptions: mark dirty corpus rev, join ';(' line breaks with a space
  scripts/gen-descriptions.mjs
  src/BalatroSeedOracle.Tests/BalatroDataDescriptionTests.cs
  src/BalatroSeedOracle/Models/BalatroData.Descriptions.g.cs
Due: csharpier

gen-descriptions: CRLF corpus, no write on failure, drop Black Hole commentary
  scripts/gen-descriptions.mjs
  src/BalatroSeedOracle.Tests/BalatroDataDescriptionTests.cs
  src/BalatroSeedOracle/Models/BalatroData.Descriptions.g.cs
Due: csharpier

Descriptions: corpus text for tags and boss blinds
  scripts/gen-descriptions.mjs
  src/BalatroSeedOracle.Tests/BalatroDataDescriptionTests.cs
  src/BalatroSeedOracle/Models/BalatroData.Descriptions.g.cs
Due: csharpier

Engine on MotelyJAML master (6dbaa01); CI builds and tests every push and PR
  .github/workflows/ci.yml
Due: dprint

Operator box in Must/Should: OR is green, 5+ cards fan out, cards keep their edition (#13)
  src/BalatroSeedOracle/Components/FilterOperatorControl.axaml
  src/BalatroSeedOracle/Components/FilterOperatorControl.axaml.cs
  src/BalatroSeedOracle/Converters/ClauseTrayConverters.cs
Due: csharpier

Banned overlay drawn by FilterItemCard, so it scales with the card
  src/BalatroSeedOracle/Components/FilterItemCard.axaml
  src/BalatroSeedOracle/Components/FilterOperatorControl.axaml
Due: none
