Repository OptimusPi/BalatroSeedOracle: changes, and which lefthook commands are due for each by the changed paths.
All: csharpier, dprint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    csharpier:
      glob: "**/*.cs"
      run: dotnet csharpier format {staged_files} --config-path .config/csharpierrc
      stage_fixed: true

    dprint:
      glob: "*.{md,mdx,yml,yaml,json,jsonc}"
      run: dprint fmt --config .config/dprint.json --allow-no-files {staged_files}
      stage_fixed: true

    changelog-reminder:
      run: |
        # Check if user-facing files are staged but CHANGELOG.md is not
        STAGED_FILES=$(git diff --cached --name-only)
        
        # Paths that typically need changelog entries
        if echo "$STAGED_FILES" | grep -qE '^(src/|docs/|Presets/|VisualizerPresets/|MixerPresets/)'; then
          # Check if CHANGELOG.md is staged
          if ! echo "$STAGED_FILES" | grep -q '^CHANGELOG.md$'; then
            echo "⚠️  WARNING: You're committing user-facing changes without updating CHANGELOG.md"
            echo "   Consider adding an entry under '## [Unreleased]' in CHANGELOG.md"
            echo "   See .cursor/rules/005-changelog-policy.mdc for guidelines"
            echo ""
            echo "   This is just a reminder - commit will proceed."
          fi
        fi

fix(SpinnerControl): bind value badge via converter, kill code-behind text assignment
  src/BalatroSeedOracle/Controls/SpinnerControl.axaml
  src/BalatroSeedOracle/Controls/SpinnerControl.axaml.cs
  src/BalatroSeedOracle/Converters/SpinnerDisplayConverter.cs
Due: csharpier

fix(release): unblock shippable Desktop artifact — disable AOT, fix .parcel target, sync submodule
  .github/workflows/release-windows.yml
  .gitignore
  CLAUDE.md
  Directory.Build.props
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
  src/BalatroSeedOracle.parcel
  src/BalatroSeedOracle/BalatroSeedOracle.parcel
  src/BalatroSeedOracle/Views/SearchModalTabs/SearchTab.axaml
Due: dprint

@ Remove bold font weight app-wide (m6x11 renders bold badly)
  src/BalatroSeedOracle/App.axaml
  src/BalatroSeedOracle/Components/FilterTabs/ClauseRowControl.axaml
  src/BalatroSeedOracle/Components/FilterTabs/JamlEditorTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/JamlErrorPanel.axaml
  src/BalatroSeedOracle/Components/FilterTabs/SaveFilterTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/ValidateFilterTab.axaml
  src/BalatroSeedOracle/Controls/FilterCategoryStrip.axaml
  src/BalatroSeedOracle/Features/Analyzer/AnteTreeView.axaml
  src/BalatroSeedOracle/Features/Analyzer/RunDetailView.axaml
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/AudioVisualizerSettingsModal.axaml
  src/BalatroSeedOracle/Views/Modals/SearchModal.axaml
  src/BalatroSeedOracle/Views/ResultItemView.axaml
  src/BalatroSeedOracle/Views/SearchModalTabs/ResultsTab.axaml
Due: csharpier

@ Fix README JAML selectors to match the engine parser
  README.md
Due: dprint

@ Fix booster sprite asset path (Assets/Other -> Assets/Boosters)
  src/BalatroSeedOracle/Services/SpriteService.cs
Due: csharpier

Steamroll the bot
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
Due: csharpier

Fix build: rename analyzer refs to MotelyLegacyTextAnalysis
  src/BalatroSeedOracle/ViewModels/AnalyzeModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/AnalyzerViewModel.cs
Due: csharpier

sad
  .gitignore
Due: none

Add JAML filters and bump Motely submodule
  CLAUDE.md
  JamlFilters/four-four-fingers.jaml
  JamlFilters/oops-perkeo.jaml
  JamlFilters/rare-first-pack.jaml
Due: dprint

Make the shader background actually react to the music
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
Due: csharpier

Make the shader background actually react to the music (#27)
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
Due: csharpier

Modernize VM change-notification to source-generator attributes
  src/BalatroSeedOracle/ViewModels/AnalyzeModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/DeckAndStakeSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectionModalViewModel.cs
Due: csharpier

Modernize VM change-notification to source-generator attributes (#28)
  src/BalatroSeedOracle/ViewModels/AnalyzeModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/DeckAndStakeSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectionModalViewModel.cs
Due: csharpier

soften more of the dope shit away
  User/userprofile.json
  VisualizerPresets/Default.json
  src/BalatroSeedOracle.parcel
  src/Properties/PublishProfiles/Release.pubxml
  src/fix-icon.ps1
  src/userprofile.json
  visualizer/audio_mixes/EXAMPLE_MainMenu.json
  visualizer/audio_triggers/EXAMPLE_Bass1Mid63.json
  visualizer/visualizer_presets/EXAMPLE_WaveRider.json
Due: dprint

WIP: pending changes accumulated
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/Controls/EditionSelector.axaml
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/ViewModels/EditionSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ConfigureFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ValidateFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
Due: csharpier

Synchophant loop calude be like
  CLAUDE.md
Due: dprint

lol
  CLAUDE.md
  YAML_BEST_PRACTICES.md
  src/BalatroSeedOracle/Filters/BsoJamlLoader.cs
  src/BalatroSeedOracle/Filters/BsoSearchRuntime.cs
  src/BalatroSeedOracle/Filters/JamlClauseUnionExt.cs
  src/BalatroSeedOracle/Filters/JamlFormatter.cs
  src/BalatroSeedOracle/Filters/MotelyJsonSerializerContext.cs
  src/BalatroSeedOracle/Services/BsoSearchTypes.cs
Due: csharpier, dprint

beep
  BalatroSeedOracle.sln
  BalatroSeedOracle.slnx
  src/BalatroSeedOracle.Android/BalatroSeedOracle.Android.csproj
  src/BalatroSeedOracle.Android/MainActivity.cs
  src/BalatroSeedOracle.Android/Properties/AndroidManifest.xml
  src/BalatroSeedOracle.Android/Resources/drawable/icon.ico
  src/BalatroSeedOracle.Android/Resources/drawable/icon.xml
  src/BalatroSeedOracle.Android/Resources/drawable/splash_screen.xml
  src/BalatroSeedOracle.Android/Resources/values/styles.xml
  src/BalatroSeedOracle.Android/Services/AndroidServices.cs
  src/BalatroSeedOracle.iOS/AppDelegate.cs
  src/BalatroSeedOracle.iOS/BalatroSeedOracle.iOS.csproj
  src/BalatroSeedOracle.iOS/Info.plist
  src/BalatroSeedOracle.iOS/Main.cs
  src/BalatroSeedOracle.iOS/Services/iOSAppDataStoreNative.cs
Due: csharpier

clod <3
  src/BalatroSeedOracle/Motely/MotelyJsonConfig.cs
  src/BalatroSeedOracle/Motely/MotelyJsonConfigYaml.cs
  src/BalatroSeedOracle/Motely/MotelySearchOrchestrator.cs
Due: csharpier

CLAUDE.md audit: currency fixes + positive prose
  .gitmodules
  CLAUDE.md
Due: dprint

lol
  .gitignore
  BalatroSeedOracle.slnx
  global.json
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/Compat/EnumOrAnyConverter.cs
  src/BalatroSeedOracle/Compat/JamlDocumentLoader.RawParse.cs
  src/BalatroSeedOracle/Compat/JamlDocumentLoader.cs
  src/BalatroSeedOracle/Compat/JamlDocumentModels.cs
  src/BalatroSeedOracle/Compat/StandardCardValueConverter.cs
  src/BalatroSeedOracle/ViewModels/AnalyzeModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/AnalyzerViewModel.cs
Due: csharpier, dprint

error catching
  src/BalatroSeedOracle/App.axaml.cs
  src/BalatroSeedOracle/Services/ActiveSearchContext.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchWidgetIconViewModel.cs
Due: csharpier

nice
  src/BalatroSeedOracle.Tests/ActiveSearchContextTests.cs
  src/BalatroSeedOracle.Tests/BalatroSeedOracle.Tests.csproj
  src/BalatroSeedOracle/Services/ActiveSearchContext.cs
Due: csharpier

Claude Code redemption w/ FABLE 5
  src/BalatroSeedOracle/Components/FilterItemConfigRow.axaml
  src/BalatroSeedOracle/Components/FilterOperatorControl.axaml.cs
  src/BalatroSeedOracle/Components/FilterSelectorControl.axaml
  src/BalatroSeedOracle/Components/FilterTabs/ClauseRowControl.axaml
  src/BalatroSeedOracle/Components/FilterTabs/JamlEditorTab.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/JsonEditorTab.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/Components/ItemConfigPanel.axaml
  src/BalatroSeedOracle/Controls/MaximizeButton.axaml.cs
  src/BalatroSeedOracle/Controls/PanelSpinner.axaml
  src/BalatroSeedOracle/Controls/SortableResultsGrid.axaml
  src/BalatroSeedOracle/Features/Analyzer/AnalyzerView.axaml
  src/BalatroSeedOracle/Services/ConfigurationService.cs
  src/BalatroSeedOracle/Services/EventFXService.cs
  src/BalatroSeedOracle/Services/FilterConfigurationService.cs
  src/BalatroSeedOracle/Services/FilterService.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml
  src/BalatroSeedOracle/Views/SearchModalTabs/SearchTab.axaml.cs
Due: csharpier

Sweep the graveyard: delete 16 verified-dead files (phase 1)
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Helpers/TransitionPresetHelper.cs
  src/BalatroSeedOracle/Json/BsoJsonSerializerContext.cs
  src/BalatroSeedOracle/Models/AudioTriggerPoint.cs
  src/BalatroSeedOracle/Models/ITrigger.cs
  src/BalatroSeedOracle/Models/MusicMixPreset.cs
  src/BalatroSeedOracle/Models/SearchConfiguration.cs
  src/BalatroSeedOracle/Models/SearchState.cs
  src/BalatroSeedOracle/Models/ShaderParamMapping.cs
  src/BalatroSeedOracle/Models/TrackMetadata.cs
  src/BalatroSeedOracle/Models/TransitionPreset.cs
  src/BalatroSeedOracle/Models/TriggerPoint.cs
  src/BalatroSeedOracle/Models/VisualizerPresetNew.cs
  src/BalatroSeedOracle/Services/DaylatroSeeds.cs
  src/BalatroSeedOracle/Services/MinigameDownloadService.cs
  src/BalatroSeedOracle/Services/ShaderInertiaManager.cs
  src/BalatroSeedOracle/Services/TriggerService.cs
  src/BalatroSeedOracle/Services/VisualizerEventManager.cs
Due: csharpier

Drop EventFXService's never-read SoundEffectsService field (phase 2)
  src/BalatroSeedOracle/Services/EventFXService.cs
Due: csharpier

Collapse the triplicated selections-to-clauses pipeline to one (phase 3)
  src/BalatroSeedOracle/Services/FilterSerializationService.cs
Due: csharpier
