Repository OptimusPi/BalatroSeedOracle: changes, and which lefthook commands are due for each by the changed paths.
All: csharpier, dprint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    csharpier:
      glob: "**/*.cs"
      run: dotnet csharpier format {staged_files} --config-path .config/csharpierrc
      stage_fixed: true

    dprint:
      glob: "*.{md,mdx,yml,yaml,json,jsonc}"
      run: dprint fmt --config .config/dprint.json --allow-no-files {staged_files}
      stage_fixed: true

Add additional file types to .cursorignore
  .cursorignore
Due: none

docs: improve README and add comprehensive documentation
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  Taskfile.yml
  docs/FILTERS.md
Due: dprint

Fix Taskfile and SearchModalViewModel compilation issues
  Taskfile.yml
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
Due: csharpier, dprint

Add silent flag to all tasks in Taskfile
  Taskfile.yml
Due: dprint

Remove redundant InitializeComponent method from MainWindow.axaml.cs
  src/BalatroSeedOracle/Views/MainWindow.axaml.cs
Due: csharpier

Update Cursor configuration for audit remediation
  .cursor/commands/audit-command.md
  .cursor/commands/audit-rule.md
  .cursor/commands/audit-skill.md
  .cursor/commands/audit.md
  .cursor/commands/remediate-config.md
  .cursor/commands/run-desktop.md
  .cursor/rules/080-motely-integration-boundary.mdc
  .cursor/rules/tool-cursor-config.mdc
  .cursor/skills/git-stage-and-commit/SKILL.md
Due: dprint

Update build configuration for audit remediation
  Taskfile.yml
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
Due: dprint

Apply audit remediation updates to application code
  src/BalatroSeedOracle.Desktop/Program.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopDuckDBConnection.cs
  src/BalatroSeedOracle/App.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Services/FilterConfigurationService.cs
  src/BalatroSeedOracle/Services/FilterSerializationService.cs
  src/BalatroSeedOracle/Services/SearchInstance.cs
  src/BalatroSeedOracle/Services/SoundFlowAudioManager.cs
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/SaveFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchWidgetViewModel.cs
  src/BalatroSeedOracle/Views/Modals/FiltersModal.axaml.cs
  src/BalatroSeedOracle/Windows/DataGridResultsWindow.axaml.cs
  src/BalatroSeedOracle/Windows/WidgetWindow.axaml.cs
Due: csharpier

chore: track Cursor templates in repo
  .cursor/commands/audit-chat.md
  .cursor/commands/audit-command.md
  .cursor/commands/audit-rule.md
  .cursor/commands/audit-skill.md
  .cursor/commands/audit.md
  .cursor/commands/remediate-config.md
  .cursor/commands/summarize-chat.md
  .cursor/rules/tool-cursor-config.mdc
  .cursor/templates/chat-audit.md
  .cursor/templates/chat-summary.md
  .cursor/templates/cursor-command.md
  .cursor/templates/cursor-rule.md
  .cursor/templates/cursor-skill.md
Due: dprint

Enhance logging capabilities and configuration
  .cursor/rules/010-csharp-logging.mdc
  .cursor/skills/debuglogger-logging-standard/SKILL.md
  src/BalatroSeedOracle.Browser/Program.cs
  src/BalatroSeedOracle.Desktop/Program.cs
  src/BalatroSeedOracle/Helpers/DebugLogger.cs
  src/BalatroSeedOracle/Services/WidgetPositionService.cs
  src/BalatroSeedOracle/ViewModels/BaseWidgetViewModel.cs
  src/Program.cs
Due: csharpier, dprint

Add comprehensive changelog enforcement system
  .cursor/rules/005-changelog-policy.mdc
  .github/CHANGELOG_GUIDE.md
  .github/pull_request_template.md
  .github/workflows/changelog-check.yml
  CHANGELOG.md
  CONTRIBUTING.md
  lefthook.yml
Due: dprint

Update GitHub Actions workflow to enable recursive submodule checkout
  .github/workflows/build-browser.yml
  .github/workflows/ci-quality.yml
Due: dprint

Update version formatting in GitHub Actions workflow for consistency
  .github/workflows/deploy-browser.yml
Due: dprint

Update ignore files
  .cursorignore
  .gitignore
Due: none

chore: remediate audit findings for submodule and shell safety
  .cursor/rules/080-motely-integration-boundary.mdc
  .cursor/rules/095-shell-directory-hygiene.mdc
  .cursor/skills/motely-submodule-workflow/SKILL.md
Due: dprint

Add Phase 1 tests gate with CI workflow fixes
  .github/workflows/build-browser.yml
  .github/workflows/ci-quality.yml
  .github/workflows/deploy-browser.yml
  BalatroSeedOracle.sln
  BalatroSeedOracle.slnx
  CONTRIBUTING.md
  Directory.Packages.props
  Taskfile.yml
  tests/BalatroSeedOracle.Tests/BalatroSeedOracle.Tests.csproj
  tests/BalatroSeedOracle.Tests/BaselineTests.cs
  tests/BalatroSeedOracle.Tests/KNOWN_ISSUES.md
  tests/BalatroSeedOracle.Tests/README.md
  tests/BalatroSeedOracle.Tests/Usings.cs
Due: csharpier, dprint

Fix GitHub Actions Android workload error
  .github/workflows/build-browser.yml
  .github/workflows/ci-quality.yml
  .github/workflows/deploy-browser.yml
Due: dprint

Implement Phase 2: CI warnings-as-errors and coverage collection
  .cursor/rules/050-dotnet-deps-and-projectfiles.mdc
  .github/workflows/ci-quality.yml
  src/BalatroSeedOracle.Android/MainActivity.cs
  src/BalatroSeedOracle.Android/Services/AndroidDuckDBAppender.cs
  src/BalatroSeedOracle.Android/Services/AndroidDuckDBConnection.cs
  src/BalatroSeedOracle.Android/Services/AndroidDuckDBService.cs
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/Components/Help/JamlHelpView.axaml.cs
  src/BalatroSeedOracle/Components/WebView/ExternalContentModal.axaml
  src/BalatroSeedOracle/Components/WebView/ExternalContentModal.axaml.cs
  src/BalatroSeedOracle/Services/FertilizerService.cs
  src/BalatroSeedOracle/Services/Platforms/FileSystemDuckDBService.cs
Due: csharpier, dprint

Fix CI workflow failures
  .github/workflows/ci-quality.yml
Due: dprint

Add iOS workload and fix CSharpier tool installation
  .github/workflows/ci-quality.yml
Due: dprint

Fix CI workflow failures: CSharpier syntax, platform-specific workloads, and restore handling
  .github/workflows/ci-quality.yml
Due: dprint

Cleanup docs
  # JAML Template & Include System Proposa.md
  AI_CODING_GUIDELINES.md
  AI_COMMITMENT_LOG.md
  AI_CONVERSATION_DUMP.md
  AVALONIA_ACCELERATE_IMPLEMENTATION.md
  BALATRO_UI_STYLE_GUIDE.md
  FINAL_POLISH.md
  GIT_SUBMODULE_SETUP.md
  ITEM_CONFIG_UX_PRD.md
  JAML_EDITOR_ENHANCEMENTS.md
  MCP_STATUS_AND_ACTION_PLAN.md
  MOTELY_API_ROUTES.md
  RELEASE_PLAN_TONIGHT.md
  REVISED_FOR_AVALONIA_AGENT_JAML Template & Include System Proposa2.md
  REVISED_FOR_AVALONIA_AGENT_JAML_FINAL.md
  REVISED_FOR_AVALONIA_AGENT_JAML_FINAL3.md
  TECH_DEBT_TODO.md
  YAML Anchors & Aliases Support.md
  YAML_Anchors_Implementation_Plan.md
  YAML_BEST_PRACTICES.md
  docs/ARCHITECTURE.md
  docs/AVALONIA_BEST_PRACTICES.md
  docs/AVALONIA_LICENSE_SETUP.md
  docs/FILTERS.md
  docs/PERFORMANCE.md
  docs/PLATFORM_GUIDE.md
  docs/RESEARCH_AVALONIA_2026.md
  temp_duckdb_ops.txt
Due: dprint

Fix iOS workload requirement on Linux using MSBuildEnableWorkloadResolver
  .github/workflows/ci-quality.yml
Due: dprint

Install wasm-tools workload and enable workload resolver for Desktop/Browser/Test
  .github/workflows/ci-quality.yml
Due: dprint

Use MSBuild TargetFramework property to exclude iOS TFM on Linux
  .github/workflows/ci-quality.yml
Due: dprint

Remove formatting CI checks and changelog check
  .github/workflows/changelog-check.yml
  .github/workflows/ci-quality.yml
Due: dprint

Fix Build Core Library failing due to missing restore assets
  .github/workflows/ci-quality.yml
Due: dprint

Add cross-platform architecture documentation
  .cursor/rules/001-core-project-context.mdc
  .cursor/rules/030-platform-guards.mdc
  .cursor/rules/035-cross-platform-architecture.mdc
  .cursor/rules/090-browser-wasm-constraints.mdc
  .cursor/skills/apply-platform-guards-browser-vs-desktop/SKILL.md
  .cursor/skills/implement-cross-platform-feature/SKILL.md
  .cursor/skills/register-services-and-platform-overrides/SKILL.md
Due: dprint

Remove outdated context.md file
  .cursor/context.md
Due: dprint

Remove github workflows
  .github/workflows/build-browser.yml
  .github/workflows/ci-quality.yml
  .github/workflows/deploy-browser.yml
  .github/workflows/release-browser.yml
  .github/workflows/release-linux.yml
  .github/workflows/release-macos.yml
  .github/workflows/release-windows.yml
  .github/workflows/release.yml
Due: dprint

Add GitHub Actions CI workflow for Browser builds and tests
  .github/workflows/ci.yml
Due: dprint

Update jaml.schema.json
  jaml.schema.json
Due: dprint

some body get a gun and shooooooot me();
  .avalonia/projects.json
  BROWSER_SEARCH_FIX_PLAN.md
  Directory.Build.props
  src/BalatroSeedOracle.Android/BalatroSeedOracle.Android.csproj
  src/BalatroSeedOracle.Android/MainActivity.cs
  src/BalatroSeedOracle.Android/Services/AndroidServices.cs
  src/BalatroSeedOracle.Browser/BalatroSeedOracle.Browser.csproj
  src/BalatroSeedOracle.Browser/Program.cs
  src/BalatroSeedOracle.Browser/Services/BrowserAudioManager.cs
  src/BalatroSeedOracle.Browser/Services/BrowserDuckDBConnection.cs
  src/BalatroSeedOracle.Browser/Services/LocalStorageTester.cs
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
  src/BalatroSeedOracle.Desktop/Program.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopAudioManager.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopDuckDBConnection.cs
  src/BalatroSeedOracle.csproj
  src/BalatroSeedOracle.iOS/AppDelegate.cs
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/Components/WebView/ExternalContentModal.axaml
  src/BalatroSeedOracle/Components/WebView/ExternalContentModal.axaml.cs
  src/BalatroSeedOracle/Models/ResultWithTallies.cs
  src/BalatroSeedOracle/Services/ActiveSearchContext.cs
  src/BalatroSeedOracle/Services/DuckDB/IDuckDBConnection.cs
  src/BalatroSeedOracle/Services/IAudioManager.cs
  src/BalatroSeedOracle/Services/ISearchInstance.cs
  src/BalatroSeedOracle/Services/SearchInstance.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/Services/SearchTransitionManager.cs
  src/BalatroSeedOracle/Services/SoundFlowAudioManager.cs
  src/BalatroSeedOracle/TrimmerRoots.xml
  src/BalatroSeedOracle/ViewModels/AudioMixerWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/AudioVisualizerSettingsWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/ViewModels/FrequencyDebugWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/MusicMixerWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchWidgetViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/SearchModalTabs/ResultsTab.axaml.cs
  src/BalatroSeedOracle/Windows/DataGridResultsWindow.axaml.cs
Due: csharpier, dprint
