Repository OptimusPi/BalatroSeedOracle: changes, and which lefthook commands are due for each by the changed paths.
All: csharpier, dprint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    csharpier:
      glob: "**/*.cs"
      run: dotnet csharpier format {staged_files} --config-path .config/csharpierrc
      stage_fixed: true

    dprint:
      glob: "*.{md,mdx,yml,yaml,json,jsonc}"
      run: dprint fmt --config .config/dprint.json --allow-no-files {staged_files}
      stage_fixed: true

    changelog-reminder:
      run: |
        # Check if user-facing files are staged but CHANGELOG.md is not
        STAGED_FILES=$(git diff --cached --name-only)
        
        # Paths that typically need changelog entries
        if echo "$STAGED_FILES" | grep -qE '^(src/|docs/|Presets/|VisualizerPresets/|MixerPresets/)'; then
          # Check if CHANGELOG.md is staged
          if ! echo "$STAGED_FILES" | grep -q '^CHANGELOG.md$'; then
            echo "⚠️  WARNING: You're committing user-facing changes without updating CHANGELOG.md"
            echo "   Consider adding an entry under '## [Unreleased]' in CHANGELOG.md"
            echo "   See .cursor/rules/005-changelog-policy.mdc for guidelines"
            echo ""
            echo "   This is just a reminder - commit will proceed."
          fi
        fi

chore: drop publish_retry.txt (build log accidentally committed)
  publish_retry.txt
Due: none

chore: drop publish_retry_2.txt (build log accidentally committed)
  publish_retry_2.txt
Due: none

chore: drop temp_duckdb_ops.txt (scratch notes)
  temp_duckdb_ops.txt
Due: none

chore: drop src/BalatroSeedOracle/build_output.txt (build artifact in source tree)
  src/BalatroSeedOracle/build_output.txt
Due: none

chore: drop misnamed duplicate '# Browser Search Fix Plan.md' inside src/
  src/BalatroSeedOracle/# Browser Search Fix Plan.md
Due: dprint

chore: drop stale TECH_DEBT_TODO.md
  TECH_DEBT_TODO.md
Due: dprint

chore: drop HOTPATH_AUDIT_FINDINGS.md (completion report, not active doc)
  HOTPATH_AUDIT_FINDINGS.md
Due: dprint

chore: drop MONO_WASM_FIX.md (post-mortem for completed WASM fix)
  MONO_WASM_FIX.md
Due: dprint

chore: drop BROWSER_COOP_COEP_FIX.md (post-mortem for completed COOP/COEP fix)
  BROWSER_COOP_COEP_FIX.md
Due: dprint

chore: drop BROWSER_SEARCH_FIX_PLAN.md (fix-plan doc that has rotted)
  BROWSER_SEARCH_FIX_PLAN.md
Due: dprint

chore: drop JAML_EDITOR_ENHANCEMENTS.md (enhancement plan from past iteration)
  JAML_EDITOR_ENHANCEMENTS.md
Due: dprint

chore: drop ITEM_CONFIG_UX_PRD.md (PRD that has shipped or been superseded)
  ITEM_CONFIG_UX_PRD.md
Due: dprint

chore: drop YAML_Anchors_Implementation_Plan.md (implementation plan, code is the source of truth now)
  YAML_Anchors_Implementation_Plan.md
Due: dprint

chore(gitignore): block publish_*.txt, build_output.txt, temp_*.txt
  .gitignore
Due: none

refactor(BalatroMainMenuViewModel): dedupe widget toggles + modal-error catches
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
Due: csharpier

refactor(SearchModalViewModel): kill dead code from removed search-state persistence
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
Due: csharpier

ci: disable auto-triggers on all workflows, keep workflow_dispatch only
  .github/workflows/build-browser.yml
  .github/workflows/deploy-browser.yml
  .github/workflows/publish-motely-wasm.yml
  .github/workflows/release.yml
Due: dprint

refactor(BalatroMainMenuViewModel): replace ServiceHelper locator with constructor-injected field
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
Due: csharpier

refactor(StandardModal): move animation + sizing + back-nav to MVVM
  src/BalatroSeedOracle/Views/Modals/StandardModal.axaml.cs
Due: csharpier

refactor(StandardModal): declarative slide-in animation and squeeze sizing in XAML
  src/BalatroSeedOracle/Views/Modals/StandardModal.axaml
Due: none

refactor(ResultsTab): move services & export logic to SearchModalViewModel
  src/BalatroSeedOracle/Views/SearchModalTabs/ResultsTab.axaml.cs
Due: csharpier

refactor(DI): inject optional exporter services into SearchModalViewModel
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
Due: csharpier

refactor(SearchModal): host export/popout/favorites logic in VM
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
Due: csharpier

fix git modules submodules
  .gitmodules
Due: none

christ almighty
  src/BalatroSeedOracle.Android/MainActivity.cs
  src/BalatroSeedOracle.Android/Services/AndroidServices.cs
  src/BalatroSeedOracle.Backend/src/index.js
  src/BalatroSeedOracle.Backend/wrangler.toml
  src/BalatroSeedOracle.Browser.DevServer/BalatroSeedOracle.Browser.DevServer.csproj
  src/BalatroSeedOracle.Browser.DevServer/Program.cs
  src/BalatroSeedOracle.Browser.DevServer/Properties/launchSettings.json
  src/BalatroSeedOracle.Browser/Program.cs
  src/BalatroSeedOracle.Browser/Services/BrowserParquetExporter.cs
  src/BalatroSeedOracle.Browser/Services/BrowserResultsDatabaseExporter.cs
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
  src/BalatroSeedOracle.Desktop/Program.cs
  src/BalatroSeedOracle.iOS/AppDelegate.cs
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Services/ActiveSearchContext.cs
  src/BalatroSeedOracle/Services/DuckDB/IDuckDBDataReader.cs
  src/BalatroSeedOracle/Services/Export/IParquetExporter.cs
  src/BalatroSeedOracle/Services/Export/IResultsDatabaseExporter.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/Windows/DataGridResultsWindow.axaml.cs
Due: csharpier, dprint

hmmmmmmm
  src/BalatroSeedOracle/Components/Widgets/GenieWidget.axaml
  src/BalatroSeedOracle/Components/Widgets/GenieWidget.axaml.cs
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Helpers/ModalHelper.cs
  src/BalatroSeedOracle/Json/BsoJsonSerializerContext.cs
  src/BalatroSeedOracle/Services/FilterCacheService.cs
  src/BalatroSeedOracle/Services/FilterService.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/GenieWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml.cs
  src/BalatroSeedOracle/Views/Modals/ToolsModal.axaml.cs
Due: csharpier

chore: drop dead MotelyJAML deps + bump submodule to new tip
  .gitmodules
  BalatroSeedOracle.sln
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
  src/BalatroSeedOracle.Desktop/Components/Widgets/ApiHostWidget.axaml
  src/BalatroSeedOracle.Desktop/Components/Widgets/ApiHostWidget.axaml.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopApiHostService.cs
  src/BalatroSeedOracle.Desktop/Services/RestoreActiveSearchesProviderService.cs
  src/BalatroSeedOracle.Desktop/Services/ResultsDatabaseExporter.cs
  src/BalatroSeedOracle.Desktop/Services/SequentialLibraryInitializerService.cs
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/Services/IApiHostService.cs
  src/BalatroSeedOracle/Services/IRestoreActiveSearchesProvider.cs
  src/BalatroSeedOracle/Services/ISequentialLibraryInitializer.cs
  src/BalatroSeedOracle/ViewModels/ApiHostWidgetViewModel.cs
Due: csharpier

feat: BSO compiles again — lift MotelyJsonConfig DTOs + drop dead orchestrator/API refs
  src/BalatroSeedOracle.Desktop/DesktopAppExtensions.cs
  src/BalatroSeedOracle.Desktop/Program.cs
  src/BalatroSeedOracle.Desktop/Views/MainWindowExtensions.cs
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Helpers/ModalHelper.cs
  src/BalatroSeedOracle/Motely/IMotelySearchContext.cs
  src/BalatroSeedOracle/Motely/JamlConfigLoaderCompat.cs
  src/BalatroSeedOracle/Motely/JsonSearchParams.cs
  src/BalatroSeedOracle/Motely/MotelyJsonConfig.cs
  src/BalatroSeedOracle/Motely/MotelyJsonConfigYaml.cs
  src/BalatroSeedOracle/Motely/MotelyJsonSerializerContext.cs
  src/BalatroSeedOracle/Motely/MotelySearchOrchestrator.cs
  src/BalatroSeedOracle/Motely/SearchOptionsDto.cs
  src/BalatroSeedOracle/Services/ActiveSearchContext.cs
  src/BalatroSeedOracle/Services/MinigameDownloadService.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/ViewModels/AnalyzerViewModel.cs
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JamlEditorTabViewModel.cs
  src/BalatroSeedOracle/Views/Modals/ToolsModal.axaml.cs
Due: csharpier

feat: wire MotelyJsonConfig → JamlSearchBuilder so search actually runs
  src/BalatroSeedOracle/Motely/JamlConfigBridge.cs
  src/BalatroSeedOracle/Motely/MotelySearchOrchestrator.cs
Due: csharpier

w/e
  src/BalatroSeedOracle.Desktop/Services/RestoreActiveSearchesProviderService.cs
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/GlobalUsings.cs
  src/BalatroSeedOracle/Json/BalatroSeedOracle.code-workspace
  src/BalatroSeedOracle/Services/Export/IResultsDatabaseExporter.cs
  src/BalatroSeedOracle/Services/MinigameDownloadService.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JamlEditorTabViewModel.cs
Due: csharpier

Drop dead MotelyJAML project refs (DB/Orchestration/API)
  .gitmodules
  BalatroSeedOracle.sln
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
Due: none

Move MotelyJsonConfig types into BSO as editor draft model
  src/BalatroSeedOracle/Filters/BsoFilterDraft.cs
  src/BalatroSeedOracle/Filters/BsoJamlLoader.cs
  src/BalatroSeedOracle/Filters/MotelyJsonSerializerContext.cs
Due: csharpier

Add BsoDraftToJaml converter and runtime DTOs
  src/BalatroSeedOracle/Filters/BsoDraftToJaml.cs
  src/BalatroSeedOracle/Filters/BsoSearchRuntime.cs
  src/BalatroSeedOracle/Filters/JamlFormatter.cs
Due: csharpier

Port SearchManager/LocalSearchEngine/ActiveSearchContext to JamlSearchBuilder
  src/BalatroSeedOracle/Services/ActiveSearchContext.cs
  src/BalatroSeedOracle/Services/BsoSearchContext.cs
  src/BalatroSeedOracle/Services/Engines/LocalSearchEngine.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
Due: csharpier

Reimplement Desktop services without Motely.DB/Motely.API
  src/BalatroSeedOracle.Desktop/DesktopAppExtensions.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopApiHostService.cs
  src/BalatroSeedOracle.Desktop/Services/RestoreActiveSearchesProviderService.cs
  src/BalatroSeedOracle.Desktop/Services/ResultsDatabaseExporter.cs
  src/BalatroSeedOracle.Desktop/Services/SequentialLibraryInitializerService.cs
Due: csharpier

Port BSO to JamlRootDocument/JamlClauseUnion: rename, delete shim, fix Serialization+Configuration services
  src/BalatroSeedOracle/Filters/BsoDraftToJaml.cs
  src/BalatroSeedOracle/Filters/BsoFilterDraft.cs
  src/BalatroSeedOracle/Filters/BsoJamlLoader.cs
  src/BalatroSeedOracle/Filters/JamlClauseUnionExt.cs
  src/BalatroSeedOracle/Filters/JamlFormatter.cs
  src/BalatroSeedOracle/Filters/MotelyJsonSerializerContext.cs
  src/BalatroSeedOracle/Helpers/ModalHelper.cs
  src/BalatroSeedOracle/Json/BsoJsonSerializerContext.cs
  src/BalatroSeedOracle/Services/ActiveSearchContext.cs
  src/BalatroSeedOracle/Services/ClauseConversionService.cs
  src/BalatroSeedOracle/Services/ConfigurationService.cs
  src/BalatroSeedOracle/Services/Engines/ISearchEngine.cs
  src/BalatroSeedOracle/Services/Engines/LocalSearchEngine.cs
  src/BalatroSeedOracle/Services/Engines/RemoteSearchEngine.cs
  src/BalatroSeedOracle/Services/FilterCacheService.cs
  src/BalatroSeedOracle/Services/FilterConfigurationService.cs
  src/BalatroSeedOracle/Services/FilterSerializationService.cs
  src/BalatroSeedOracle/Services/FilterService.cs
  src/BalatroSeedOracle/Services/MinigameDownloadService.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/ViewModels/FilterListViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JamlEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JsonEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/SaveFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ValidateFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml.cs
  src/BalatroSeedOracle/Views/Modals/ToolsModal.axaml.cs
Due: csharpier

Port BSO call sites from string-typed BSO clauses to JamlClauseUnion
  src/BalatroSeedOracle/Services/ClauseConversionService.cs
  src/BalatroSeedOracle/Services/ConfigurationService.cs
  src/BalatroSeedOracle/Services/FilterCacheService.cs
  src/BalatroSeedOracle/Services/FilterSerializationService.cs
  src/BalatroSeedOracle/Services/FilterService.cs
  src/BalatroSeedOracle/ViewModels/FilterListViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JamlEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JsonEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/SaveFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchWidgetViewModel.cs
Due: csharpier
