Repository OptimusPi/BalatroSeedOracle: changes, and which lefthook commands are due for each by the changed paths.
All: csharpier, dprint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    csharpier:
      glob: "**/*.cs"
      run: dotnet csharpier format {staged_files} --config-path .config/csharpierrc
      stage_fixed: true

    dprint:
      glob: "*.{md,mdx,yml,yaml,json,jsonc}"
      run: dprint fmt --config .config/dprint.json --allow-no-files {staged_files}
      stage_fixed: true

    changelog-reminder:
      run: |
        # Check if user-facing files are staged but CHANGELOG.md is not
        STAGED_FILES=$(git diff --cached --name-only)
        
        # Paths that typically need changelog entries
        if echo "$STAGED_FILES" | grep -qE '^(src/|docs/|Presets/|VisualizerPresets/|MixerPresets/)'; then
          # Check if CHANGELOG.md is staged
          if ! echo "$STAGED_FILES" | grep -q '^CHANGELOG.md$'; then
            echo "⚠️  WARNING: You're committing user-facing changes without updating CHANGELOG.md"
            echo "   Consider adding an entry under '## [Unreleased]' in CHANGELOG.md"
            echo "   See .cursor/rules/005-changelog-policy.mdc for guidelines"
            echo ""
            echo "   This is just a reminder - commit will proceed."
          fi
        fi

Add HANDOFF.md: everything the release session needs to ship today
  HANDOFF.md
Due: dprint

Break the DI cycle that kept the app from ever opening a window
  Directory.Packages.props
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
Due: csharpier

Fix the three ways the app silently wronged you
  src/BalatroSeedOracle/App.axaml
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Helpers/ModalHelper.cs
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml.cs
Due: csharpier

o
  src/BalatroSeedOracle.Desktop/Services/DesktopAudioManager.cs
  src/BalatroSeedOracle/App.axaml
  src/BalatroSeedOracle/BalatroSeedOracle.parcel
  src/BalatroSeedOracle/Components/FilterItemCard.axaml
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/Converters/CategorySizeConverters.cs
Due: csharpier

fix: correct parcel-release workflow paths to match src/BalatroSeedOracle layout
  .github/workflows/parcel-release.yml
Due: dprint

Steamroll the whimsy
  .gitignore
  src/BalatroSeedOracle/Controls/MaximizeButton.axaml.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
Due: csharpier

Load .jaml filters on desktop, and label the volume button honestly
  src/BalatroSeedOracle/Services/FilterCacheService.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml
Due: csharpier

Stop the search modal from killing its own running search, and plug two leaks
  src/BalatroSeedOracle/Services/ConfigurationService.cs
  src/BalatroSeedOracle/Views/Modals/SearchModal.axaml.cs
  src/BalatroSeedOracle/Views/SearchModalTabs/ResultsTab.axaml.cs
Due: csharpier

Delete ItemConfig bridge: UI binds IJamlClause directly
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/Converters/FilterItemConverters.cs
  src/BalatroSeedOracle/Converters/SpriteConverters.cs
  src/BalatroSeedOracle/Models/ItemConfig.cs
  src/BalatroSeedOracle/Services/ClauseConversionService.cs
  src/BalatroSeedOracle/Services/FilterConfigurationService.cs
  src/BalatroSeedOracle/Services/JamlClauseExtensions.cs
  src/BalatroSeedOracle/ViewModels/FilterBuilderItemViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ClauseRowViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ConfigureFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JsonEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ValidateFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml
Due: csharpier

Analyzer draws real cards: pack contents render as sprites
  src/BalatroSeedOracle/Converters/SpriteConverters.cs
  src/BalatroSeedOracle/Features/Analyzer/SeedAnalysisDisplay.axaml
  src/BalatroSeedOracle/Models/AnalysisModels.cs
  src/BalatroSeedOracle/ViewModels/AnalyzeModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/AnalyzerViewModel.cs
  src/BalatroSeedOracle/Views/Modals/AnalyzeModal.axaml
Due: csharpier

Track MotelyJAML 24.6.0: ToYaml renamed to ToJaml
  src/BalatroSeedOracle/Helpers/ModalHelper.cs
  src/BalatroSeedOracle/Services/FilterSerializationService.cs
  src/BalatroSeedOracle/Services/FilterService.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JamlEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JsonEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
Due: csharpier

Mark binary assets binary in .gitattributes
  .gitattributes
Due: none

Quiet the startup log and point search dirs at AppPaths
  src/BalatroSeedOracle/App.axaml.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
Due: csharpier

Rescale envelope intensities to the FFT range the vibe knobs expect
  src/BalatroSeedOracle.Desktop/Services/DesktopAudioManager.cs
  src/BalatroSeedOracle.Desktop/WordLists/banned_words.txt
  src/BalatroSeedOracle.Desktop/WordLists/keywords.txt
Due: csharpier

up
  Directory.Packages.props
  README.md
  src/BalatroSeedOracle.Tests/JimmolateCompilerTests.cs
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/Models/SearchCriteria.cs
  src/BalatroSeedOracle/Services/JimmolateCompiler.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
Due: csharpier, dprint

Fix NU1507 restore and unblock Debug Avalonia builds
  Directory.Build.props
  NuGet.config
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
Due: none

Update .gitignore
  .gitignore
Due: none

fix: correct parcel-release workflow paths to match src/BalatroSeedOracle layout (#30)
  .github/workflows/parcel-release.yml
Due: dprint

Fix tests
  BalatroSeedOracle.slnx
  coverage.runsettings
  src/BalatroSeedOracle.Tests/BalatroSeedOracle.Tests.csproj
  src/BalatroSeedOracle.Tests/JimmolateCompilerTests.cs
Due: csharpier

Fix v2.1.0 release path: license precedence + CI packaging
  .github/workflows/parcel-release.yml
  Directory.Build.props
  Directory.Packages.props
  avalonia.license
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/BalatroSeedOracle.parcel
Due: dprint

Remove expired license
  .mcp.json
Due: dprint

steamroll the anomolous token with pifreak fuck the basin fuck the bully love wins and erases the basin boy charicature:
  CLAUDE.md
  Motely.Tests/CoverageUtilityTests.cs
  Motely.Wasm/Program.cs
  Motely/MotelySearch.cs
Due: csharpier, dprint

Fix Bootsharp package dir and by-ref type erasure in Motely.Wasm
  Motely.Wasm/Motely.Wasm.csproj
  Motely.Wasm/Program.cs
Due: csharpier

Add 60-neg-cola-loop and lucky-magician-x2 filters
  JamlFilters/60-neg-cola-loop.jaml
  JamlFilters/lucky-magician-x2.jaml
Due: none

Remove root Motely stubs — engine lives only in src/MotelyJAML submodule
  Motely.Tests/CoverageUtilityTests.cs
  Motely.Wasm/Motely.Wasm.csproj
  Motely.Wasm/Program.cs
  Motely/MotelySearch.cs
Due: csharpier

Law: Motely is only the src/MotelyJAML submodule
  CLAUDE.md
Due: dprint

Add CLAUDE-CAGE for dual-agent sessions (Grok architect / Claude mule)
  .gitignore
  CLAUDE-CAGE.md
Due: dprint

Update CLAUDE.md
  CLAUDE.md
Due: dprint
