Repository OptimusPi/BalatroSeedOracle: changes, and which lefthook commands are due for each by the changed paths.
All: csharpier, dprint

csharpier:
  run: dotnet csharpier format {staged_files} --config-path .config/csharpierrc
  stage_fixed: true

dprint:
  run: dprint fmt --config .config/dprint.json --allow-no-files {staged_files}
  stage_fixed: true

clean shit
  external/desktop.ini
  jammy/PRD-00-INDEX.md
  jammy/PRD-01-APP-SHELL.md
  jammy/PRD-02-SHADER-BACKGROUND.md
  jammy/PRD-03-AUDIO-SYSTEM.md
  jammy/PRD-04-SHADER-REACTIVITY.md
  jammy/PRD-05-TRANSITION-ENGINE.md
  jammy/PRD-06-SEARCH-SYSTEM.md
  jammy/PRD-07-FILTER-BUILDER.md
  jammy/PRD-08-SEED-ANALYZER.md
  jammy/PRD-09-WIDGET-SYSTEM.md
  jammy/PRD-10-UI-KIT.md
  jammy/PRD-11-MODAL-SYSTEM.md
  jammy/PRD-12-SERVICES-PLATFORM.md
  scripts/publish-browser.ps1
Due: dprint

Wire up resumable search state save/restore
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
Due: csharpier

Remove duplicate root jaml.schema.json, update MotelyJAML submodule
  jaml.schema.json
Due: dprint

Fix namespaces
  .build.log
  BalatroSeedOracle.sln
  src/BalatroSeedOracle.Android/MainActivity.cs
  src/BalatroSeedOracle/App.axaml
  src/BalatroSeedOracle/App.axaml.cs
  src/BalatroSeedOracle/Components/FilterOperatorControl.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/JsonEditorTab.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/SaveFilterTab.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/ValidateFilterTab.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/Components/Widgets/DayLatroWidget.axaml.cs
  src/BalatroSeedOracle/Controls/SortableResultsGrid.axaml.cs
  src/BalatroSeedOracle/Converters/SpriteConverters.cs
  src/BalatroSeedOracle/Features/Analyzer/AnalyzerView.axaml.cs
  src/BalatroSeedOracle/Filters/JamlClauseUnionExt.cs
  src/BalatroSeedOracle/GlobalUsings.cs
  src/BalatroSeedOracle/Helpers/ModalHelper.cs
  src/BalatroSeedOracle/Services/ConfigurationService.cs
  src/BalatroSeedOracle/Services/FilterService.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/ViewModels/FilterListViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JamlEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JsonEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/SaveFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ValidateFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/FrequencyDebugWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchResultViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/MainWindow.axaml
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml.cs
  src/BalatroSeedOracle/Views/Modals/SearchModal.axaml.cs
  src/BalatroSeedOracle/Windows/DataGridResultsWindow.axaml.cs
  src/BalatroSeedOracle/Windows/WidgetWindow.axaml.cs
Due: csharpier

neat
  BalatroSeedOracle.sln
  Directory.Build.props
  desktop-smoke-err.log
  desktop-smoke.log
  src/BalatroSeedOracle.Android/BalatroSeedOracle.Android.csproj
  src/BalatroSeedOracle.Android/MainActivity.cs
  src/BalatroSeedOracle.Android/Services/AndroidServices.cs
  src/BalatroSeedOracle.Desktop/Components/Widgets/AudioVisualizerSettingsWidget.axaml
  src/BalatroSeedOracle.iOS/AppDelegate.cs
  src/BalatroSeedOracle.iOS/Main.cs
  src/BalatroSeedOracle/App.axaml
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/Components/FilterItemConfigRow.axaml
  src/BalatroSeedOracle/Components/FilterTabs/SaveFilterTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/ValidateFilterTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
  src/BalatroSeedOracle/Components/ItemConfigPanel.axaml
  src/BalatroSeedOracle/Components/Widgets/DayLatroWidget.axaml
  src/BalatroSeedOracle/Services/SpriteService.cs
  src/BalatroSeedOracle/ViewModels/AudioVisualizerSettingsModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/AudioVisualizerSettingsWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/FrequencyDebugWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/MusicMixerWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/SettingsModalViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/AnalyzeModal.axaml
  src/BalatroSeedOracle/Views/Modals/SettingsModal.axaml
  src/BalatroSeedOracle/Views/SearchModalTabs/SearchTab.axaml
  src/BalatroSeedOracle/Windows/DataGridResultsWindow.axaml
  tui-build.log
Due: csharpier

upd
  BalatroSeedOracle.sln
Due: none

refactor: kill ServiceHelper in service layer (Phase A)
  src/BalatroSeedOracle/App.axaml.cs
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Services/DaylatroHighScoreService.cs
  src/BalatroSeedOracle/Services/FavoritesService.cs
  src/BalatroSeedOracle/Services/FilterService.cs
  src/BalatroSeedOracle/Services/SoundEffectsService.cs
  src/BalatroSeedOracle/Services/WidgetWindowManager.cs
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
Due: csharpier

refactor: kill ServiceHelper in ViewModel layer (Phase B)
  src/BalatroSeedOracle/Components/FilterSelectorControl.axaml.cs
  src/BalatroSeedOracle/Components/PaginatedFilterBrowser.axaml.cs
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Helpers/ModalHelper.cs
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/ViewModels/BaseWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterListViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectionModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ConfigureFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JsonEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/SaveFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ValidateFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchWidgetViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/FilterSelectionModal.axaml.cs
Due: csharpier

cool
  .mcp.json
  src/BalatroSeedOracle.Desktop/Components/Widgets/AudioVisualizerSettingsWidget.axaml.cs
  src/BalatroSeedOracle.Desktop/Components/Widgets/MusicMixerWidget.axaml.cs
  src/BalatroSeedOracle.Desktop/Components/Widgets/TransitionDesignerWidget.axaml.cs
  src/BalatroSeedOracle.Desktop/DesktopAppExtensions.cs
  src/BalatroSeedOracle.Desktop/Views/MainWindowExtensions.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchWidgetViewModel.cs
Due: csharpier, dprint

fix: resolve DaylatroHighScoreService via DI instead of nonexistent Instance
  src/BalatroSeedOracle/Components/Widgets/DailyRitualWidget.axaml.cs
  src/BalatroSeedOracle/Components/Widgets/DayLatroWidget.axaml.cs
Due: csharpier

feat: enable Avalonia DevTools MCP + AOT-safe credits loading
  src/BalatroSeedOracle.Desktop/Program.cs
  src/BalatroSeedOracle/Json/BsoJsonSerializerContext.cs
  src/BalatroSeedOracle/ViewModels/CreditsModalViewModel.cs
Due: csharpier

refactor: route all JSON through source-gen contexts (AOT-safe)
  src/BalatroSeedOracle/Helpers/PresetHelper.cs
  src/BalatroSeedOracle/Services/DbListExportService.cs
  src/BalatroSeedOracle/Services/EventFXService.cs
  src/BalatroSeedOracle/Services/SearchTransitionManager.cs
  src/BalatroSeedOracle/Services/TriggerService.cs
  src/BalatroSeedOracle/ViewModels/AudioMixerWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/AudioVisualizerSettingsWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/EventFXWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JsonEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FrequencyDebugWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/MusicMixerWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/Windows/DataGridResultsWindow.axaml.cs
Due: csharpier

open in file manager os safe
  src/BalatroSeedOracle.Android/Services/AndroidServices.cs
  src/BalatroSeedOracle.Browser/Services/BrowserPlatformServices.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopPlatformServices.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopPlatformServicesNative.cs
  src/BalatroSeedOracle.iOS/AppDelegate.cs
  src/BalatroSeedOracle/Services/IPlatformServices.cs
  src/BalatroSeedOracle/Views/Modals/SettingsModal.axaml.cs
Due: csharpier

fix(desktop): drop IlcDisableReflection, restore AOT stack traces
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
Due: none

fix(desktop): disable Native AOT + trimming to get a launching prod build
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
Due: none

fix(desktop): revive app — MainContentHost wasn't populated, plus error-surface hardening
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
  src/BalatroSeedOracle/Controls/ErrorBoundary.cs
  src/BalatroSeedOracle/Controls/ErrorBoundaryStyles.axaml
  src/BalatroSeedOracle/Helpers/AppPaths.cs
  src/BalatroSeedOracle/Services/BsoSearchContext.cs
  src/BalatroSeedOracle/Services/ConfigurationService.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/Services/TransitionService.cs
  src/BalatroSeedOracle/Views/MainWindow.axaml.cs
Due: csharpier

nicr
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
  src/BalatroSeedOracle/App.axaml.cs
Due: csharpier

Update Native AOT documentation in Desktop csproj
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
Due: none

Refactor: Architectural cleanup, DI audit, ResultsExportService and vector icon migration
  src/BalatroSeedOracle/App.axaml
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Services/Export/ResultsExportService.cs
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/FilterNameInputDialog.axaml
  src/BalatroSeedOracle/Views/Modals/FilterNameInputDialog.axaml.cs
  src/BalatroSeedOracle/Views/Modals/ToolsModal.axaml.cs
  src/BalatroSeedOracle/Views/Modals/WidgetPickerModal.axaml.cs
  src/BalatroSeedOracle/Views/SearchModalTabs/ResultsTab.axaml.cs
  src/BalatroSeedOracle/Windows/DataGridResultsWindow.axaml.cs
Due: csharpier

ba la la la la la
  .build.log
  .cursorignore
  .gitignore
  desktop-smoke-err.log
  desktop-smoke.log
  docs/INDEX.md
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
  src/BalatroSeedOracle/Views/Modals/SearchModal.axaml.cs
  src/BalatroSeedOracle/Views/Modals/StandardModal.axaml.cs
  tui-build.log
Due: csharpier, dprint

Create global.json
  global.json
Due: dprint

fix(desktop): wire x:Name controls so modals actually show content
  docs/IDEAS_INBOX.md
  src/BalatroSeedOracle.Desktop/Services/DesktopPlatformServices.cs
  src/BalatroSeedOracle/App.axaml.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml.cs
Due: csharpier, dprint

shiny tidy
  docs/IDEAS_INBOX.md
  src/BalatroSeedOracle/Components/FilterItemCarousel.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/DeckStakeTab.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/JsonEditorTab.axaml.cs
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml
  src/BalatroSeedOracle/Components/FilterTabs/VisualBuilderTab.axaml.cs
  src/BalatroSeedOracle/Views/Modals/AnalyzeModal.axaml.cs
Due: csharpier, dprint

version bumps
  global.json
  src/BalatroSeedOracle.Desktop/BalatroSeedOracle.Desktop.csproj
  src/BalatroSeedOracle/Filters/JamlFormatter.cs
  src/BalatroSeedOracle/Services/FilterSerializationService.cs
Due: csharpier, dprint

Path conditions:
  csharpier: any of: **/*.cs
  dprint: any of: *.{md,mdx,yml,yaml,json,jsonc}
