Repository OptimusPi/BalatroSeedOracle: changes, and which lefthook commands are due for each by the changed paths.
All: csharpier, dprint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    csharpier:
      glob: "**/*.cs"
      run: dotnet csharpier format {staged_files} --config-path .config/csharpierrc
      stage_fixed: true

    dprint:
      glob: "*.{md,mdx,yml,yaml,json,jsonc}"
      run: dprint fmt --config .config/dprint.json --allow-no-files {staged_files}
      stage_fixed: true

    changelog-reminder:
      run: |
        # Check if user-facing files are staged but CHANGELOG.md is not
        STAGED_FILES=$(git diff --cached --name-only)
        
        # Paths that typically need changelog entries
        if echo "$STAGED_FILES" | grep -qE '^(src/|docs/|Presets/|VisualizerPresets/|MixerPresets/)'; then
          # Check if CHANGELOG.md is staged
          if ! echo "$STAGED_FILES" | grep -q '^CHANGELOG.md$'; then
            echo "⚠️  WARNING: You're committing user-facing changes without updating CHANGELOG.md"
            echo "   Consider adding an entry under '## [Unreleased]' in CHANGELOG.md"
            echo "   See .cursor/rules/005-changelog-policy.mdc for guidelines"
            echo ""
            echo "   This is just a reminder - commit will proceed."
          fi
        fi

SEARCH FIX PLAN
  src/BalatroSeedOracle/# Browser Search Fix Plan.md
  src/BalatroSeedOracle/Services/SearchManager.cs
Due: csharpier, dprint

stability
  src/BalatroSeedOracle.Browser/Program.cs
  src/BalatroSeedOracle.Browser/Services/BrowserDuckDBAppender.cs
  src/BalatroSeedOracle.Browser/Services/BrowserDuckDBConnection.cs
  src/BalatroSeedOracle.Browser/Services/BrowserDuckDBService.cs
  src/BalatroSeedOracle.Desktop/Program.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopDuckDBAppender.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopDuckDBConnection.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopDuckDBService.cs
  src/BalatroSeedOracle.Desktop/Services/DesktopDuckDBServiceNative.cs
  src/BalatroSeedOracle/Components/Widgets/FertilizerWidget.axaml
  src/BalatroSeedOracle/Components/Widgets/FertilizerWidget.axaml.cs
  src/BalatroSeedOracle/Extensions/ServiceCollectionExtensions.cs
  src/BalatroSeedOracle/Services/ActiveSearchContext.cs
  src/BalatroSeedOracle/Services/DbListQueryExecutor.cs
  src/BalatroSeedOracle/Services/DuckDB/IDuckDBAppender.cs
  src/BalatroSeedOracle/Services/DuckDB/IDuckDBConnection.cs
  src/BalatroSeedOracle/Services/DuckDB/IDuckDBService.cs
  src/BalatroSeedOracle/Services/FertilizerService.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/Services/SearchStateManager.cs
  src/BalatroSeedOracle/ViewModels/FertilizerWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/Views/BalatroMainMenu.axaml
  src/BalatroSeedOracle/Windows/DataGridResultsWindow.axaml.cs
Due: csharpier

Fix GitHub Actions workflow and remove hardcoded license key
  .github/workflows/build-browser.yml
  .github/workflows/deploy-browser.yml
  Directory.Build.props
  avalonia.license.local.example
Due: dprint

Setup Vercel and Cloudflare deployment configuration
  .github/workflows/deploy-browser.yml
  DEPLOYMENT_SETUP.md
  vercel.json
  wrangler.toml
Due: dprint

Enhance error handling in application UI
  src/BalatroSeedOracle/App.axaml
  src/BalatroSeedOracle/App.axaml.cs
  src/BalatroSeedOracle/Controls/ErrorBoundaryStyles.axaml
  src/BalatroSeedOracle/Views/MainWindow.axaml
Due: csharpier

Refactor SearchManager and SearchCriteria for improved functionality
  src/BalatroSeedOracle/Models/SearchCriteria.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/ViewModels/AnalyzeModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/AnalyzerViewModel.cs
  src/BalatroSeedOracle/ViewModels/AnteSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/ApiHostWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/AudioMixerWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/AudioVisualizerSettingsModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/AudioVisualizerSettingsWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/BalatroMainMenuViewModel.cs
  src/BalatroSeedOracle/ViewModels/BaseWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/Controls/SortableResultsGridViewModel.cs
  src/BalatroSeedOracle/ViewModels/Converters.cs
  src/BalatroSeedOracle/ViewModels/EditionSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/EventFXWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterBuilderItemViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterItemConfigRowViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterListViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectionModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ConfigureFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JamlEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/JsonEditorTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/SaveFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ValidateFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/VisualBuilderTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/FrequencyDebugWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/GenieWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/ItemConfigPanelViewModel.cs
  src/BalatroSeedOracle/ViewModels/MainWindowViewModel.cs
  src/BalatroSeedOracle/ViewModels/MusicMixerWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/ObjectConverters.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
  src/BalatroSeedOracle/ViewModels/PlayingCardSelectorViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchResultViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/TransitionDesignerWidgetViewModel.cs
Due: csharpier

umm
  .cursor/skills/motely-filter-desc-auditor/SKILL.md
  HOTPATH_AUDIT_FINDINGS.md
  JamlFilters/luchador.jaml
  MCP_STATUS_AND_ACTION_PLAN.md
  MONO_WASM_FIX.md
  MOTELY_API_ROUTES.md
  src/BalatroSeedOracle.Browser.DevServer/Program.cs
  src/BalatroSeedOracle.Browser/DEPLOYMENT.md
  src/BalatroSeedOracle.Browser/Properties/launchSettings.json
  src/BalatroSeedOracle.Browser/serve.json
Due: csharpier, dprint

Delete index.html
  external/index.html
Due: none

Update Directory.Packages.props
  Directory.Packages.props
Due: none

Ignore /external and bump Motely submodule
  .gitignore
Due: none

Update .gitignore
  .gitignore
Due: none

Update README.md
  README.md
Due: dprint

minor fixes
  src/BalatroSeedOracle.Browser/Services/BrowserAudioManager.cs
  src/BalatroSeedOracle.Browser/wwwroot/index.html
  src/BalatroSeedOracle.Browser/wwwroot/js/webaudio-interop.js
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
  src/BalatroSeedOracle/Components/DeckAndStakeSelector.axaml
  src/BalatroSeedOracle/Components/FilterSelectorControl.axaml
  src/BalatroSeedOracle/Components/FilterTabs/SaveFilterTab.axaml
  src/BalatroSeedOracle/Controls/EditionSelector.axaml
  src/BalatroSeedOracle/Controls/FilterCategoryStrip.axaml
  src/BalatroSeedOracle/Controls/PanelSpinner.axaml
  src/BalatroSeedOracle/Controls/SourceSelector.axaml
  src/BalatroSeedOracle/Controls/SpinnerControl.axaml
  src/BalatroSeedOracle/Models/AnalysisModels.cs
  src/BalatroSeedOracle/Models/FilterItem.cs
  src/BalatroSeedOracle/ViewModels/AnalyzerViewModel.cs
  src/BalatroSeedOracle/ViewModels/AudioVisualizerSettingsModalViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterListViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/ClauseRowViewModel.cs
  src/BalatroSeedOracle/ViewModels/FilterTabs/SaveFilterTabViewModel.cs
  src/BalatroSeedOracle/ViewModels/PaginatedFilterBrowserViewModel.cs
  src/BalatroSeedOracle/ViewModels/SearchResultViewModel.cs
  src/BalatroSeedOracle/Views/FilterTabs/FilterTabView.axaml
  src/BalatroSeedOracle/Views/Modals/AudioVisualizerSettingsModal.axaml.cs
Due: csharpier

yeet
  src/BalatroSeedOracle.Backend/src/index.js
  src/BalatroSeedOracle.Backend/wrangler.toml
  src/BalatroSeedOracle.Browser/wwwroot/_headers
  src/BalatroSeedOracle/Components/Widgets/DailyRitualWidget.axaml
  src/BalatroSeedOracle/Components/Widgets/DailyRitualWidget.axaml.cs
  src/BalatroSeedOracle/Services/ActiveSearchContext.cs
  src/BalatroSeedOracle/Services/Engines/ISearchEngine.cs
  src/BalatroSeedOracle/Services/Engines/LocalSearchEngine.cs
  src/BalatroSeedOracle/Services/Engines/RemoteSearchEngine.cs
  src/BalatroSeedOracle/Services/MinigameDownloadService.cs
  src/BalatroSeedOracle/Services/SearchManager.cs
  src/BalatroSeedOracle/ViewModels/DailyRitualWidgetViewModel.cs
  src/BalatroSeedOracle/ViewModels/SettingsModalViewModel.cs
  src/BalatroSeedOracle/Views/Modals/SettingsModal.axaml
  wrangler.toml
Due: csharpier

Add Avalonia UI rewrite PRDs (13 documents) in jammy/
  jammy/PRD-00-INDEX.md
  jammy/PRD-01-APP-SHELL.md
  jammy/PRD-02-SHADER-BACKGROUND.md
  jammy/PRD-03-AUDIO-SYSTEM.md
  jammy/PRD-04-SHADER-REACTIVITY.md
  jammy/PRD-05-TRANSITION-ENGINE.md
  jammy/PRD-06-SEARCH-SYSTEM.md
  jammy/PRD-07-FILTER-BUILDER.md
  jammy/PRD-08-SEED-ANALYZER.md
  jammy/PRD-09-WIDGET-SYSTEM.md
  jammy/PRD-10-UI-KIT.md
  jammy/PRD-11-MODAL-SYSTEM.md
  jammy/PRD-12-SERVICES-PLATFORM.md
Due: dprint

Cleanup: remove stale build_output.txt, dead UIColors.cs, fix comments
  src/BalatroSeedOracle/Constants/UIColors.cs
  src/BalatroSeedOracle/Helpers/DebugLogger.cs
  src/BalatroSeedOracle/build_output.txt
Due: csharpier

Pull in jammy/ PRDs from audit branch for rebuild reference
  jammy/PRD-00-INDEX.md
  jammy/PRD-01-APP-SHELL.md
  jammy/PRD-02-SHADER-BACKGROUND.md
  jammy/PRD-03-AUDIO-SYSTEM.md
  jammy/PRD-04-SHADER-REACTIVITY.md
  jammy/PRD-05-TRANSITION-ENGINE.md
  jammy/PRD-06-SEARCH-SYSTEM.md
  jammy/PRD-07-FILTER-BUILDER.md
  jammy/PRD-08-SEED-ANALYZER.md
  jammy/PRD-09-WIDGET-SYSTEM.md
  jammy/PRD-10-UI-KIT.md
  jammy/PRD-11-MODAL-SYSTEM.md
  jammy/PRD-12-SERVICES-PLATFORM.md
Due: dprint

Add Avalonia UI rewrite PRDs (13 documents) in jammy/ (#19)
  jammy/PRD-00-INDEX.md
  jammy/PRD-01-APP-SHELL.md
  jammy/PRD-02-SHADER-BACKGROUND.md
  jammy/PRD-03-AUDIO-SYSTEM.md
  jammy/PRD-04-SHADER-REACTIVITY.md
  jammy/PRD-05-TRANSITION-ENGINE.md
  jammy/PRD-06-SEARCH-SYSTEM.md
  jammy/PRD-07-FILTER-BUILDER.md
  jammy/PRD-08-SEED-ANALYZER.md
  jammy/PRD-09-WIDGET-SYSTEM.md
  jammy/PRD-10-UI-KIT.md
  jammy/PRD-11-MODAL-SYSTEM.md
  jammy/PRD-12-SERVICES-PLATFORM.md
Due: dprint

refactor(FiltersModalViewModel): dedupe BuildConfigFromCurrentState
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
Due: csharpier

refactor(FiltersModalViewModel): dedupe LoadConfigIntoState clause loading
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
Due: csharpier

ci(build-browser): fetch submodules so dotnet restore can resolve src/MotelyJAML
  .github/workflows/build-browser.yml
Due: dprint

ci(release-browser): fetch submodules to match other release workflows
  .github/workflows/release-browser.yml
Due: dprint

refactor(FiltersModalViewModel): dedupe deck/stake arrays in CreateLoadTabContent
  src/BalatroSeedOracle/ViewModels/FiltersModalViewModel.cs
Due: csharpier

build(Directory.Build.props): hoist AvaloniaUseCompiledBindingsByDefault
  Directory.Build.props
Due: none

fix(Directory.Build.props): repair HTML-encoded angle brackets
  Directory.Build.props
Due: none

build(BalatroSeedOracle.csproj): drop now-redundant AvaloniaUseCompiledBindingsByDefault
  src/BalatroSeedOracle/BalatroSeedOracle.csproj
Due: none

chore: drop publish_log.txt (build log accidentally committed)
  publish_log.txt
Due: none
